@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,700&display=swap");
.logo {
  display: flex;
  flex-direction: column;
  // align-items: center;
  max-width: fit-content;
  &_title {
    // text-transform: capitalize;
    font-size: 2rem;
    color: #050505;
    margin: 0;
    font-family: "Shantell Sans", cursive;
    align-self: center;
  }

  &_name {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}

@media (max-width: 768px) {
  .logo {
    &_title {
      font-size: 1.5rem;
    }

    &_name {
      letter-spacing: 2px;
      font-size: 9px;
    }
  }
}
